body{
    background-color: hsl(212, 45%, 89%);
    @import url(https://fonts.google.com/specimen/Outfit);
}

#main{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 20px;
    width: 300px;
    height: 470px;
}


#image{
    position: relative;
    top: 10px;
    left: 10px;
    width: 93%;
    height: auto;
    border-radius: 20px;
}

#text{
    position: relative;
    top: 20px;
    left: 35px;
    width: 80%;
    text-align: center;
}

#text p{
    font-size: 15px;
}

#text h3{
    font-style: normal;
    font-weight: bolder;
}

.attribution{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate( -50%, -50%);

} 